* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f4f4f4;
  font-family: "Schoolbell", cursive;
}
p {
  line-height: 1.5;
  margin: 12px 0;
}

.container {
  max-width: 1000px;
  padding: 50px;
  margin: 0 auto;
}
input,
textarea {
  padding: 8px;
  font-family: "Schoolbell", cursive;
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #333;
}
/* header  */
header {
  text-align: center;
}
header .logo img {
  width: 200px;
}
header nav ul {
  list-style-type: none;
}
header nav ul li {
  display: inline-block;
}
header nav ul li a {
  padding: 20px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  border-bottom: 4px solid transparent;
  color: #333;
}
header nav ul li a:hover {
  color: coral;
  font-weight: bold;
  border-bottom: 4px solid coral;
}

#hero {
  background: url("https://source.unsplash.com/WLUHO9A_xik/1600x900") no-repeat
    fixed center center/cover;
  height: 75vh;
}
#hero .container {
  padding-top: 100px;
}

#hero .content {
  background-color: rgba(255, 99, 71, 0.637);
  padding: 20px;
  color: white;
  margin-top: 100px;
  width: 500px;
  border-radius: 5px;
}
#hero .content h1 {
  font-size: 32px;
}
#hero .content a {
  color: rgb(32, 31, 31);
  text-decoration: none;
  text-transform: uppercase;
  background-color: #f5f9e2;
  padding: 12px 24px;
  margin-top: 24px 0;
  display: inline-block;
  border-radius: 3px;
}

/* about us */
#about {
  background-color: white;
  height: 65vh;
}
#about .text {
  float: left;
  width: 40%;
}
#about img {
  float: right;
  width: 40%;
  border-radius: 5px;
}
.clearfix {
  clear: both;
}

/* footer */

footer {
  background-color: #333;
  color: white;
  height: 120vh;
}
footer form {
  float: left;
  width: 40%;
}
footer.right {
  float: right;
  width: 40%;
}
footer form label {
  width: 150px;
  display: inline-block;
}
footer form .form-group {
  margin: 16px;
}
footer form h3 {
  border-top: 1px dotted grey;
  padding-top: 10px;
  margin-top: 24px;
}
footer form input {
  width: 56%;
}
footer form input[type="radio"],
footer form input[type="checkbox"] {
  margin: 0 20px;
  width: auto;
}
footer form textarea {
  margin-left: 20px;
  display: block;
  width: 95%;
}
footer form button {
  background-color: orange;
  color: white;
  padding: 12px 24px;
  border: none;
  margin: 24px 24px 24px 20px;
  font-family: "Schoolbell", cursive;
  text-transform: uppercase;
}
