*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e2e2e2;
}
header {
    background-color: lime;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    top: 0;
    width: 100%;
    z-index: 2;
    padding: 1rem;
}

main {
    margin-top: 60px;
}
li{
    display: inline-block;
    padding: 1rem;
}
a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem;
}
 
a:hover {
    color: yellow;
    text-decoration: underline;
    
}
a:visited {
    color: rgb(255, 68, 0);
}
.text p {
    padding: 1rem;
    color: rgb(129, 123, 123);
    background-color: rgb(7, 206, 206);
    margin: 1rem;
    border-radius: 1rem;
}
/* p:first-child {
    color: black;
    background-color: rgb(11, 35, 173);
}
p:last-child{
    color: rgb(0, 139, 139);
    background-color: darkmagenta;
} */
/* p:nth-child(even){
    color: green;
    background-color: pink;
} */
.text {
    position: relative;
    width: 100%;
    padding: 100px;
}

.text p:nth-child(2){
    color: blue;
    background-color: lightyellow;
    position: relative;
    top: 75px;
    left: 75px;
    opacity: 0.6;
}
.text p:nth-child(3){
    color: blue;
    background-color: rgb(255, 255, 0);
    position: absolute;
    bottom: 60px;
    opacity: 0.6;
}
/* hero banner */
section{
    position: relative;
    height: 90vh;
    background: url("https://source.unsplash.com/user/erondu/daily") no-repeat fixed center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
section::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(56, 1, 1, 0.5);
    top: 0;
    left: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    padding-top: 50px;
}
i {
    color: coral;
}