* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  
  font-family: "PT Sans", sans-serif;
}
h1,
h2 {
  margin-bottom: 30px;
}
.container {
  max-width: 1200px;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 50px;
  border-radius: 2px;
  min-height: 25%;
  margin: 0 auto;
}

/*Header area*/

header{
  background-color: #333;
  padding: 25px;
  text-align: right;
}
header #logo a {
  margin-top: 20px;
  font-size: 32px;
  float: left;
  color: orange;
  text-decoration: none;
}
/*Main area*/

header nav ul {
  list-style-type: none;
  padding: 20px;
}
header nav ul li {
  display: inline-block;
}
header nav ul li a {
  color: white;
  text-decoration: none;
  padding: 20px;
}
header nav ul li a:hover {
  background-color: orange;
}
/*HERO area*/

main #hero-banner {
  background: url("https://source.unsplash.com/1600x900/?dark") 
  no-repeat fixed center center/cover;
  height: 85vh;
  padding: 50px;  
}



main #hero-banner h1 {
  color: white;
  text-align: center;
  font-size: 70px;
  font-family: "Ubuntu Mono", monospace;
  margin: 100px;
}
main #hero-banner span {
  color: orange;
}
/*Past  and future area*/

main #past, main #future {
  background-color: #f4f4f4;
  padding: 50px;
  width: 100%;
}
main #past img, main #future img {
width: 300px;
float: left;
margin-right: 50px;
border-radius: 5px;
}
main #past p, main #future p {
  line-height: 2;
  }
main #future {
  background: url ("https://source.unsplash.com/user/jackie/likes") 
  no-repeat fixed center center/cover;
  clear: both;
}
/*present*/

main #present img {
  float: left;
  width: 50%;
  margin-right: 50px;
}



main #present .content {
  padding: 50px;
  
}
main #present .content p{
  line-height: 2;
}
/*footer*/

footer {
  background-color: #333;
  text-align: center;
  color: white;
  padding: 50px;
}
div.formgroup{
 width: 500px;
 justify-content: center;
 margin: auto;
}

footer .formgroup label{
  text-align: left;
  display: inline-block;
  margin-left:auto;
}
footer .formgroup #yourname{
  padding: 5px;
  margin-left: 50px;
  border-radius: 5px;  
  width: 70%;
}
}
footer.formgroup #Message{
  height: 200px;
  width: 300px;
  border-radius: 5px;
}