*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-color: coral;
}
header{
    background-color: cornflowerblue;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
header ul{
    list-style-type: none;
}
header li{
    display: inline-block;
}
header nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem;
    margin: 1rem;
    display: block;
}
main{
    display: flex;
}
.left   {
    background-color: tomato;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.right{
    background-color: thistle;
    flex: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box{
    background-color: wheat;
    border-radius: 5px;
    margin: 1rem;
    padding: 1rem;
    width: 200px;
    height: 200px;
}