:root {
    --background-color: cornsilk;
    --dark-color: #333;
    --light-color: skyblue;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var(--background-color);
}
.card {
    height: 200px;
    width: 150px;
    margin: 0 auto;
    background: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0 0 5px var(--dark-color);
    transition: all 2s 0s;
}
.card:hover {
    /* transform: rotate(125deg); */
    /* transform: skewY(25deg); */
    /* transform: skewX(25deg); */
    /* transform: scale(2, 5); */
    /* transform: translateY(100px); */
    /* transform: translateX(-100px); */
    /* transform: translate(100px, 100px); */
    /* transform: translate3d(100px, 100px, 100px); */
    /* perspective: 500px; */
    /* transform: perspective(100px) rotateY(45deg); */
    transform: perspective(800px);
}
.circle {
    height: 100px;
    width: 100px;
    margin: 0 auto;
    background: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 0 5px var(--dark-color);
    transition: all 2s;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 3;
    position: relative;
}
/* @keyframes example {
    from{
        background: var(--dark-color);
    }
    to{
        background: var(--background-color);
        height: 200px;
        width: 200px;
        box-shadow: 10px 10px 10px crimson;
    }
} */

@keyframes example {
    0% {
        top: 0;
        left: 0;
    }
    25%{
        top: 0;
        left: 200px;
        background: crimson;
    }
    50% {
        top: 200px;
        left: 200px;
        background: darkorange;
    }
    75% {
        top: 200px;
        left: 0;
        background: cyan;
    }
    100% {
        top: 0;
        left: 0;
        background: darkred;
    }
}