* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: crimson;
}
a {
    text-decoration: none;
    color: cyan;
}
header {
    background: darkblue;
    color: white;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}
header .logo p {
    font-size: 2rem;
}
header .icon {
    display: none;
}
header nav ul {
    position: relative;
}
header nav ul li {
    display: inline-block;
    list-style-type: none;
}
header nav ul li ul {
    visibility: hidden;
    opacity: 0;
    transition: all 0.7s;
    position: absolute;
    top: 35px;
    background: lightpink;
}
header nav ul li:hover ul,
header nav ul li:focus-within > ul {
    visibility: visible;
    opacity: 1;
}
header nav ul li ul li {
    display: block;
}
header nav ul li ul li a{
    display: block;
    padding: 1rem;
}
header nav ul li ul li a:hover {
    background: rgb(14, 95, 14);
}
header nav ul li a {
    padding: 1rem;
    transition: all 0.8s;
}
header nav ul li a:hover {
    background: lightcoral;
}
main {
    margin-top: 100px;
}
section {
    min-height: 25vh;
}
@media (max-width: 576px) {
    header .logo {
        display: block;
    }
    header .icon {
        display: block;
    }
    header nav ul {
        position: absolute;
        display: none;
        top: 100px;
        left: 0;
        background: maroon;
        width: 100%;
    }
    header nav ul.mobilemenu {
        display: block;
    }
    header nav ul li {
        display: block;
    }
    header nav ul li a {
        padding: 1rem;
        display: block;
    }
    header nav ul li ul {
        visibility: visible;
        opacity: 1;
        display: block;
        position: relative;
        top: 0;
        padding-left: 1rem;
    }
}