body {
  background-color: blanchedalmond;
  color: white;
}
header {
  background-color: cyan;
}
header ul li a {
  color: white;
  background-color: darkgreen;
  text-decoration: none;
}
header ul {
  list-style: none;
}
header ul li {
  display: inline-block;
}
