*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: blanchedalmond;
  color: white;
}
header {
  background-color: cyan;
}
header ul li a {
  color: white;
  background-color: darkgreen;
  text-decoration: none;
}
header ul {
  list-style: none;
  margin-left: 30px;
}
header ul li {
  display: inline-block;
}
table {
  margin: 30px;
  padding: 10px;
  background-color: red;
  color: white;
}
thead {
  background-color: rgb(108, 129, 223);
  color: blue;
}
td {
  border-bottom: 5px solid #333;
  padding-left: 25px;
}
#boxes{
background: red;
background-image: url("https://source.unsplash.com/user/erondu/1600x900");

}
.box{
  background-color: beige;
  height: 200px;
  width: 200px;
  margin: 50px;
  display: inline-block;
}
.box1{
  background-color: royalblue;
  border: 10px dotted yellow;
}
.box2{
  background-color: rgb(120, 90, 134);
  border: 10px solid rgb(51, 255, 0);
}
.box3{
  background-color: rgb(4, 37, 136);
  border: 30px dashed rgb(255, 0, 0);
}
.box4{
  background-color: rgb(4, 37, 136);
  border: 30px dashed rgb(255, 0, 0);
}
.box5{
  background-color: rgb(4, 37, 136);
  border: 30px dashed rgb(255, 0, 0);
  border-radius: 50%;
}
.image1{
  margin-left: 100px;
  margin-top: 50px;
  border-radius: 50%;
}