:root {
    --primary-color: #0a2463;
    --red-color: #fb3640;
    --light-color: #e2e2e2;
    --second-color: #605f5e;
    --third-color: #247ba0;
    --font-type: "PT Sans", sans-serif;
    --white-color: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: var(--font-type);
    /* font-family: "PT Sans", sans-serif; */
}
input,
textarea,
button {
    font-family: var(--font-type);
    /* font-family: "PT Sans", sans-serif; */
}
p{
    margin-bottom: 0.8rem;
    line-height: 2;
}

a {
    text-decoration: none;
    color: var(--red-color);
}
h1, h2, h3 {
    margin-bottom: 1.8rem;
    text-transform: capitalize;
}

.container {
    max-width: 1200px;
    padding: 3rem;
    min-height: 25vh;
    margin: 0 auto;
}

/* Header area */

header{
    background-color: var(--primary-color);
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 3;
}

header #logo a {
    color: var(--red-color);
    font-size: 2rem;   
}
header #logo img {
    width: 65%;
}

/* main navigation  */

header nav ul {
    list-style-type: none;
}
header nav ul li {
    display: inline-block;
}
header nav ul li a {
    color: var(--light-color);
    padding: 0.5rem 0;
    margin: 0 1rem;
    display: block;
    border-bottom: 3px double transparent;
}
header nav ul li a:hover {
    border-bottom: 3px double;
}
header nav i {
    font-size: inherit;
    color: var(--red-color);
}
/* Hide nested ul by default */
header nav ul li ul {
    display: none;
}
header nav ul li:hover a {
    color: var(--red-color);
    cursor: pointer;
}
/* Nested dropdown show */
nav ul li {
    position: relative;
}
nav ul li:hover ul {
    display: block;
    position: absolute;
    right: 0;
    width: 200px;
    padding: 1rem;
}
nav ul li:hover ul li {
    display: block;
    background: var(--second-color);
}
nav ul li:hover ul li a {
    color: var(--light-color);
}
nav ul li:hover ul li:hover {
    color: inherit;
}

/* Hero banner */
main {
    margin-top: 80px;
}
main #hero-banner {
    background: url("https://source.unsplash.com/1600x900/?dark") 
  no-repeat fixed center center/cover;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
main #hero-banner::before{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background-color: var(--third-color);
    opacity: 0.2;
}
main #hero-banner h1 {
    color: var(--light-color);
    text-align: center;
    font-size: 5rem;
    font-family: "Ubuntu Mono", monospace;
    z-index: 1;
}
main #hero-banner span {
    color: var(--red-color);
}

/* Work section */

main #work {
    background-color: var(--light-color);
    scroll-margin-top: 6em;
  }

main #work .work_boxes {
    display: flex;
    justify-content: space-between;
}
main #work .box {
    background-color: var(--white-color);
    width: 32%;
    padding: 1rem;
    border-radius: 2px;
    box-shadow: 0 0 5px var(--second-color);
}
main #work .box:hover {
    box-shadow: 0 0 25px var(--second-color);
}
main #work .box img {
    width: 100%;
    margin-bottom: 1rem;
}

main #work .box a:hover {
    color: var(--third-color);
    text-decoration: underline;
}

/* Experience section  */

main #experience {
    display: flex;
    background-color: var(--light-color);
    scroll-margin-top: 6em;
}
main #experience img {
    width: 50%;
    object-fit: cover;
    object-position: center;
}

main #experience .content {
    padding: 3rem;
}

/* Skills section  */

main #skills {
    background: url("https://source.unsplash.com/daily") 
    no-repeat fixed center center/cover;
    padding: 3rem;
    width: 100%;
}
  main #skills .container {
      background-color: var(--light-color);
      opacity: 0.8;
  }
  main #skills .boxes1 {
        display: flex;
        justify-content: space-evenly;
  }
  main #skills .box1 {
    height: 245px;
    width: 255px;
    background-color: var(--white-color);
    border-radius: 4px;
    box-shadow: 0 0 5px var(--second-color);   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
main #skills .box1:nth-child(odd) {
    background-color: var(--primary-color);
    opacity: 1;
}
    .box1 p {
        margin: 2rem 0;
        color: var(--red-color);
    }

i {
    color: var(--red-color);
    font-size: 48px;
    }
/* Gallery */
.gallery-group {
    display: grid;
    grid-template-areas:
    "a a b b c c"
    "a a d d c c"
    "e h h h c c"
    "f h h h i i"
    "g h h h i i";
    grid-gap: 0.5rem;
    grid-template-columns: repeat(6, 1fr);
}
.grid-div {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.grid-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid-item:hover{
    transform: scale(1.05);
}
.grid-item-1 {
    grid-area: a;
}
.grid-item-2 {
    grid-area: b;
}
.grid-item-3 {
    grid-area: c;
}
.grid-item-4 {
    grid-area: d;
}
.grid-item-5 {
    grid-area: e;
}
.grid-item-5:hover {
    transform: rotate(180deg);
    transition: 2s;
}
.grid-item-6 {
    grid-area: f;
}
.grid-item-7 {
    grid-area: g;
}
.grid-item-8 {
    grid-area: h;
}
.grid-item-9 {
    grid-area: i;
}

  /* Footer */

  Footer {
      background-color: var(--primary-color);
      text-align: center;
      color: var(--light-color);
      padding: 1.5rem;
      scroll-margin-top: 6em;
  }
  footer p {
      font-size: 0.8rem;
      margin-top: 3rem;
  }

  /* Form */
  footer form {
      width: 60%;
      margin: 0 auto;
  }

  footer form .formgroup {
      margin: 2rem 0;

  }
  footer form .formgroup label {
      width: 200px;
      display: inline-block;
      text-align: left;
  }

  footer form .formgroup input,
  footer form .formgroup textarea {
      padding: 0.5rem 1rem;
      border-radius: 5px;
      border: none;
      width: 60%;
      font-size: 1rem;
  }

    footer form .form-group textarea{
        min-height: 100px;
    }
  footer form button {
      background-color: var(--red-color);
      border-radius: 5px;
      border: none;
      padding: 1rem 3rem;
      color: var(--light-color);
      font-size: inherit;
  }
  #back-to-top {
    background-color: var(--light-color);
    color: var(--red-color);
    height: 45px;
    width: 45px;
    border-radius: 2px;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    font-size: 0.5rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}
#back-to-top i {
    font-size: 1.2rem;
}
/* animation */
.animated-circle {
    height: 100px;
    width: 100px;
    background: darkblue;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    animation-name: move;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    transition: 3s;
    position: relative;
}
.animated-circle:hover {
    animation-play-state: paused;
}

main .container1 {
    max-width: 1200px;
    padding: 3rem;
    min-height: 55vh;
    background: linear-gradient(to right, crimson, lime, rgb(1, 255, 255));
    animation: hola 10s ease infinite;
    background-size: 300% 300%;
    margin: 0 auto;
    display: flex;
}
@keyframes hola {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes move {
    0% {
        top: 0;
        left: 0;
    }
    25% {
        height: 100px;
        width: 100px;
        background: cornsilk;
        border-radius: 0;
        top: 200px;
        left: 0
    }
    50% {
        top: 0;
        left: 100px;
    }
    75% {
        top: 0;
        left: -200px;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background: darkgoldenrod;
    }
    90% {
        top: 200px;
        left: 0;
        background: lime;
    }
    /* 100% {
        top: 0;
        left: 0;
        background: magenta;
    } */
}

  @media (max-width: 899px) {
      main #experience{
          display: block;
      }
      main #skills .container .box1 {
        margin: 1rem 1rem;
      }
      main #skills progress {
          width: 80%;
      }
      main #experience img {
          width: 100%;
      }
      footer form {
          width: 80%;
          text-align: left;
      }
      footer form .form-group label {
          display: block;
          margin-bottom: 0.5rem;
      }
      footer form .form-group input,
  footer form .form-group textarea{
      width: 100%;
      }
      footer .formgroup {
          text-align: center;
      }
      footer form button {
          width: 100%;
      }
  }

  @media (max-width:576px) {
      
      header {
          display: block;
          text-align: center;
          padding: 1rem;
          height: 18%;
      }
      header #logo img {
        width: 8%;
        margin: 0 auto;
      }
      header nav ul li a {
        padding: 0.5rem;
      }
      main #hero-banner h1 {
          font-size: 3rem;
          margin: 1rem;
      }
      main #work .work_boxes {
          flex-direction: column;
      }
      main #work .box {
          width: 100%;
          margin: 1rem 0;
      }
      main #skills img {
          width: 100%;
          float: none;
          margin-right: 0;
      }
      main #skills .boxes1 {
          display: block;
      }
      main #work,
      main #skills {
          padding: 0;
      }
      .container, main #experience .content {
          padding: 1rem;
      }
      main #gallery {
          margin-top: 100px;
      }
      main #skills {
          scroll-margin-top: 6em;
      }
      footer .container .formgroup input,
      footer .container .formgroup textarea {
          width: 100%;
      }
      footer .container button {
          width: 100%;
          text-align: center;
      }
  }