:root {
    --background: crimson;
    --ligth: blue;
    --dark: darkgreen;
}
body {
    background-image: linear-gradient(to right, red, blue, violet);
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.first-task {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: var(--ligth);
    animation-name: circle;
    animation-duration: 3s;
    transition: 2s;
}
.first-task:hover {
    transition: 2s;
    height: 200px;
    width: 200px;
    background: chartreuse;
}

.second-task {
    width: 200px;
    height: 150px;
    background: cornflowerblue;
}
.second-task:hover {
    transform: rotate(180deg);
    background: cyan;
    transition: 3s;
}
.third-task {
    height: 150px;
    width: 200px;
    background: var(--dark);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
}

.third-task:hover {
    transition: 3s;
    height: 75px;
    width: 100px;
    font-size: 13px;
}
.fifth-task {
    height: 200px;
    width: 200px;
    background: violet;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.fifth-task::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    top: 0;
    left: 0;
    bottom: 200px;
    border-top: 7px solid green;
    transition: all 1s;
}
.fifth-task:hover::before {
    width: 100%;
}
.fifth-task::after {
    content: "";
    display: block;
    position: absolute;
    top: 200px;
    bottom: 0;
    left: 0;
    right: 0;
    border-right: 7px solid green;
    transition: all 1s;
}
.fifth-task:hover::after {
    top: 0;
}
.fifth-task h3::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 200px;
    right: 0;
    border-bottom: 7px solid black;
    transition: all 1s;
}
.fifth-task:hover h3::before {
    left: 0;
}
.fifth-task h3::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 200px;
    left: 0;
    right: 0;
    border-left: 7px solid black;
    transition: all 1s;
}
.fifth-task:hover h3::after {
    bottom: 0;
}
.animated-circle {
    height: 100px;
    width: 100px;
    background: darkblue;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    animation-name: move;
    animation-duration: 3s;
    transition: 3s;
    position: relative;
}
.animated-circle:hover {
    animation-play-state: paused;
}
@keyframes move {
    0% {
        top: 0;
        left: 0;
    }
    25% {
        height: 100px;
        width: 100px;
        background: cornsilk;
        border-radius: 0;
        top: 0;
        left: 200px;
    }
    50% {
        top: 200px;
        left: 200px;
    }
    75% {
        top: 200px;
        left: 0;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background: darkgoldenrod;
    }
    100% {
        top: 0;
        left: 0;
        background: lime;
    }
}