* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lime;
    margin: 10px;
}
header  {
   
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-auto-rows: 100px;
    column-gap: 10px;
    row-gap: 10px;
    margin-bottom: 10px;
}
header .sitetitle{
    border: 1px solid;
    background-color: yellow;
}
header .nav {
    background-color: pink;
    border: 1px solid;
}
 .wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-auto-rows: 100px;
    column-gap: 10px;
    row-gap: 10px;
}
.post {
    grid-column: 1/3;
    grid-row: 1/3;
    background-color: powderblue;
}
.meta {
    background-color: coral;
    grid-column: 1/2;
    grid-row: 3/8;
}
.cont {
    background-color: cornflowerblue;
    grid-column: 2/3;
    grid-row: 3/5;
}
.contimg {
    background-color: crimson;
    grid-column: 2/3;
    grid-row: 5/8;
}

.bar {
    grid-column: 3/4;
    grid-row: 1/4;
    background-color: darkcyan;
}
.ads {
    background-color: darkgoldenrod;
    grid-column: 3/4;
    grid-row: 4/6;
}
.stuff {
    background-color: cyan;
    grid-row: 6/8;
}
.foo {
    display: grid;
    grid-auto-rows: 150px;
    background-color: darkmagenta;
    margin-top: 10px;
}
